@model DeleveryApp.Models.Client

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Delivery App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            background-color: #000;
            color: #fff;
        }

        .form-container {
            margin-top: 50px;
        }

            .form-container .form-group label {
                color: #fff;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Create Client</h1>
        <div class="row justify-content-center form-container">
            <div class="col-md-6">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nom" class="control-label">Name</label>
                        <input asp-for="Nom" class="form-control" />
                        <span asp-validation-for="Nom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Adresse" class="control-label">Address</label>
                        <input asp-for="Adresse" class="form-control" />
                        <span asp-validation-for="Adresse" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumeroTelephone" class="control-label">Phone Number</label>
                        <input asp-for="NumeroTelephone" class="form-control" />
                        <span asp-validation-for="NumeroTelephone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center mt-3">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js" integrity="sha384-SD0BfC5nYwV6H4kKD9hWjy4er/jTq5bKP1V8tSRbNiwHw5wuAR2+38xhKRvSKIzj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pzjw8f+Mm7QFi8aA4ZBEemI6Y/Y6TCFyY3yYyy3XpY2Kq0FfDip0k1hOeQiikyXr" crossorigin="anonymous"></script>

</body>
</html>
